<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="path" value="C:\Users\Avnit Bambah\Downloads"/>
    <add key="DbName" value="model"/>
    <add key="serverName" value="(localdb)\MSSQLLocalDB"/>
    <add key="user" value=""/>
    <add key="password" value=""/>
  </appSettings>
</configuration>